* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: lightblue;
  color: darkSlateGray;
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 40px;
  background-color: lightGray;
  color: black;
  padding: 1em 0;
  margin-left: 0;
  display: inline-block;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: darkSlateGray;
  padding: 20px;
  font-size: 25px;
  font-weight: 100;
}


h3 {
  padding: 10px;
  font-style: italic;
  color: darkSlateGray;
  font-size: 20px;
}

p {
  padding: 10px;
  font-style: 15px;
  color: darkSlategray;
}
