* {
  max-width: 960px;
}

body {
  background-color: black;
  font-family: helvetica;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
}

h1 {
  font-size: 35px;
  background-color: lightGray;
  color: black;
  padding: 1em;
}
